@using UniformProjectOmar.Models
@inject IJSRuntime JS

@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color:rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar movimiento</h5>
                    <button type="button" class="btn-close" @onclick="OnCloseClicked"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@Movimiento" OnValidSubmit="OnSaveClicked">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label>Empleado</label>
                            <InputNumber class="form-control" @bind-Value="Movimiento.IdEmpleado" />
                        </div>

                        <div class="mb-3">
                            <label>Artículo</label>
                            <InputNumber class="form-control" @bind-Value="Movimiento.IdArticulo" />
                        </div>

                        <div class="mb-3">
                            <label>Talla</label>
                            <InputText class="form-control" @bind-Value="Movimiento.Talla" />
                        </div>

                        <div class="mb-3">
                            <label>Cantidad</label>
                            <InputNumber class="form-control" @bind-Value="Movimiento.Cantidad" />
                        </div>

                        <button class="btn btn-success" type="submit">Guardar</button>
                        <button class="btn btn-secondary ms-2" type="button" @onclick="OnCloseClicked">Cancelar</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}