@page "/uniforms/movements"
@using UniformProjectOmar.Components.Layout
@using UniformProjectOmar.Components.Pages.Uniforms.Movements.Components;

<h3>Uniformes</h3>
<br />

<div class="col-md-4 col-sm-12">
    <button class="btn btn-primary mb-3" @onclick="OnModalOpenClose">
        Registrar nuevo movimiento
    </button>
</div>

@if (Movimientos == null)
{
    <LoadingOverlay />
}

<div class="col-md-12">
    <MovementsList Movimientos="Movimientos"/>
</div>

<CreateMovementModal
        IsVisible="@IsModalOpen"
        Movimiento="@NuevoMovimiento"
        OnClose="OnModalOpenClose"
        OnSave="SaveMovimientoAsync" />